<section class="content-header">
    <h1>
        Sistema bancario StartBank
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-users"></i> Socios</a></li>
        <li class="active">Registro</li>
    </ol>
</section>

<section class="content" ng-controller="sociosController" ng-init="listarDeptos(); calPorcentaje();">
    <h3 style="text-align: center;"><b>Registro socio</b></h3>
    <hr>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" ng-submit="registrar();">
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group" style="margin-right:0%;">
                      <label for="nombre">Nombre(s)</label>
                      <input class="form-control" type="text" required placeholder="Nombre(s) del socio" ng-model="nombre">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="cedula">Cedula</label>
                      <input class="form-control" type="number" min="0" required placeholder="Cedula del socio" ng-model="cedula">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="telefono">Teléfono</label>
                      <input class="form-control" type="number" required placeholder="Teléfono del socio" ng-model="telefono">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                    <label for="depto">Departamento</label>
                    <select ng-model="depto" class="form-control col-md-7 col-xs-12" ng-change="listarMunicipios();">
                      <option value='0'>Seleccione un departamento</option>
                      <option ng-repeat=" obj in deptos" value="{{obj.id}}" >{{obj.nombre}}</option>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="direccion">Dirección del socio</label>
                      <input class="form-control" type="text" required placeholder="Direccion del socio" ng-model="direccion">
                  </div>
                  
              </div>
              <div class="col-md-6">
                  <div class="form-group" style="margin-right:0%;">
                      <label for="apellidos">Apellidos</label>
                      <input class="form-control" type="text" required placeholder="Apellidos del socio" ng-model="apellidos">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="fecha">Fecha de nacimiento</label>
                      <input class="form-control" type="date" required placeholder="Fecha de nacimiento del socio" ng-model="fecha">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="correo">Correo electrónico</label>
                      <input class="form-control" type="email" required placeholder="Correo electrónico del socio" ng-model="correo">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="ciudad">Ciudad</label>
                      <select ng-model="ciudad" class="form-control col-md-7 col-xs-12">
                        <option value="0">Seleccione una ciudad</option>
                        <option ng-repeat=" obj in municipios" value="{{obj.id}}" >{{obj.nombre}}</option>
                      </select>                      
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="porcentaje">Porcentaje de participación (disponible {{porDisponible}}%)</label>
                      <input class="form-control" type="number" min="1" max="{{porDisponible}}" required placeholder="Porcentaje de participación del socio" ng-model="porcentaje">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label ng-class='{"classError": colorText=="error", "classSuccess":colorText=="success"}'>{{msj}}</label>
            </div>
            <div class="col-md-2">
              <input type="button" class="btn btn-primary btn-block btn-flat" ng-click="limpiar();" value="Cancel"/>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-block btn-flat" type="submit">
                Registrar
              </button>
            </div>
          </div>
          </form>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>