<header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini" style="font-family: 'Satisfy', cursive; font-size: 1em;"><b>S</b>B</span>
      <span class="logo-lg" style="font-family: 'Satisfy', cursive; font-size: 1.6em;"><b>Start</b>Bank</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      
    </nav>
  </header>