<section class="content-header">
    <h1>
        Sistema bancario StartBank
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Empleados</a></li>
        <li class="active">Registro</li>
    </ol>
</section>

<section class="content" ng-controller="empleadosController" ng-init="listarDeptos(); listarSucursales(); listarCargos();">
    <h3 style="text-align: center;"><b>Registro de empleado</b></h3>
    <hr>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" ng-submit="registrar();">
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group" style="margin-right:0%;">
                      <label for="nombre">Nombre(s)</label>
                      <input class="form-control" type="text" required placeholder="Nombre(s) del empleado" ng-model="nombre">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="cedula">Cedula</label>
                      <input class="form-control" type="number" min="0" required placeholder="Cedula del empleado" ng-model="cedula">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="telefono">Teléfono</label>
                      <input class="form-control" type="number" required placeholder="Teléfono del empleado" ng-model="telefono">
                  </div>
                  <div class="form-group" style="margin-right:0%; margin-bottom:0px;">
                    <label for="depto">Departamento y ciudad</label>
                    <div class="row">
                      <div class="col-md-6" style="padding-right:1.6px;">
                        <select ng-model="depto" class="form-control col-md-7 col-xs-12" ng-change="listarMunicipios();">
                          <option value='0'>Seleccione departamento</option>
                          <option ng-repeat=" obj in deptos" value="{{obj.id}}" >{{obj.nombre}}</option>
                        </select>
                      </div>
                      <div class="col-md-6" style="padding-left:0px;">
                        <select ng-model="ciudad" class="form-control col-md-7 col-xs-12">
                          <option value="0">Seleccione una ciudad</option>
                          <option ng-repeat=" obj in municipios" value="{{obj.id}}" >{{obj.nombre}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="sucursal">Sucursal</label>
                      <select ng-model="sucursal" class="form-control col-md-7 col-xs-12">
                        <option value="0">Seleccione una sucursal</option>
                        <option ng-repeat=" obj in sucursales" value="{{obj.id}}" >{{obj.nombre}}</option>
                      </select>
                  </div>
                  
              </div>
              <div class="col-md-6">
                  <div class="form-group" style="margin-right:0%;">
                      <label for="apellidos">Apellidos</label>
                      <input class="form-control" type="text" required placeholder="Apellidos del empleado" ng-model="apellidos">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="fecha">Fecha de nacimiento</label>
                      <input class="form-control" type="date" required placeholder="Fecha de nacimiento del empleado" ng-model="fecha">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="correo">Correo electrónico</label>
                      <input class="form-control" type="email" required placeholder="Correo electrónico del empleado" ng-model="correo">
                  </div>
                  <div class="form-group" style="margin-right:0%; margin-bottom:20px;">
                      <label for="direccion">Dirección del empleado</label>
                      <input class="form-control" type="text" required placeholder="Direccion del empleado" ng-model="direccion">
                  </div>
                  <div class="form-group" style="margin-right:0%;">
                      <label for="cargo">Cargo</label>
                      <select ng-model="cargo" class="form-control col-md-7 col-xs-12">
                        <option value="0">Seleccione un cargo</option>
                        <option ng-repeat=" obj in cargos" value="{{obj.id}}" >{{obj.descripcion}}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label ng-class='{"classError": colorText=="error", "classSuccess":colorText=="success"}'>{{msj}}</label>
            </div>
            <div class="col-md-2">
              <input type="button" class="btn btn-primary btn-block btn-flat" ng-click="limpiar();" value="Cancel"/>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-block btn-flat" type="submit">
                Registrar
              </button>
            </div>
          </div>
          </form>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>