<aside class="main-sidebar">
    <section class="sidebar">
        
        <ul class="sidebar-menu">
            <li class="header">Opciones de navegación</li>
            <li class="treeview">
                <a href="#/Banco/Listar">
                    <i class="fa fa-university"></i>
                    <span>Banco</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Banco/Registrar"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/Banco/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#/Socios/Listar">
                    <i class="fa fa-users"></i>
                    <span>Socios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Socios/Registrar"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/Socios/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#/Sucursales/Listar">
                    <i class="fa fa-home"></i>
                    <span>Sucursales</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Sucursales/Registrar"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/Sucursales/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#/Empleados/Listar">
                    <i class="fa fa-user"></i>
                    <span>Empleados</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Empleados/Registrar"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/Empleados/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#/Cargos/Listar">
                    <i class="fa fa-dot-circle-o"></i>
                    <span>Cargos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Cargos/Registrar"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/Cargos/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#/Costos/Listar">
                    <i class="fa fa-clone"></i>
                    <span>Costos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Costos/Registrar"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/Costos/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#/Cuentas/Listar">
                    <i class="fa fa-credit-card"></i>
                    <span>Cuentas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Cuentas/Registrar"><i class="fa fa-circle-o"></i>Crear</a></li>
                    <li><a href="#/Cuentas/Listar"><i class="fa fa-circle-o"></i>Listar</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>